body {
	height: 100%;
	max-height: 100%
}

form {

	font-size: 1em;
}

#loginform {
	display: block;
	text-align: center;
	width: 70%;
	margin: 0 auto;
}

/* breakpoint */
@media only screen and (max-width: 700px) {
	::-webkit-input-placeholder {
   		text-align: center;

	}

	#homeimage {
		height: 8em;
		width: 8em;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 5em;
		margin-bottom: 5em
	}

	.accountform {
		padding: 5px 10px;
		border-radius: 1.2em;
		border: 1px solid #B5B8BB;
		margin-bottom: 2vw;
		width: 80%;
	}

	#rememberlabel {
		display: inline
	}

	#tbl {
		display: table;
		width: 85%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 1em;
		margin-bottom: 3em
	}

	#tblrow {
		display: table-row;
	}

	#tblcol-1 {
		display: table-cell
	}

	#tblcol-2 {
		display: table-cell
	}

	#loginbtn {
		padding: 5px 10px 5px 10px;
		border-radius: 1.2em;
		border: 0;
		appearance: none;
		background-color: #FFC80A;
	}

	a {
		text-decoration: none;
		color: black;
	}
}



/* breakpoint */
@media only screen and (min-width: 700px) {
	::-webkit-input-placeholder {
   		text-align: center;

	}
	#homeimage {
		height: 10em;
		width: 10em;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 5em;
		margin-bottom: 5em;
	}

	.accountform {
		padding: 5px 10px;
		border-radius: 1.2em;
		border: 1px solid #B5B8BB;
		margin-bottom: 2vw;

		width: 30%;
	}

	#rememberlabel {
		display: inline
	}

	#tbl {
		display: table;
		width: 35%;
		margin: 0 auto;
	}

	#tblrow {
		display: table-row;
	}

	#tblcol-1, #tblcol-2 {
		display: table-cell
	}


	#loginbtn {
		padding: 5px 10px 5px 10px;
		border-radius: 1.2em;
		border: 0;
		appearance: none;
		background-color: #FFC80A;
		margin-bottom: 50px;

	}

	a {
		text-decoration: none;
		color: black;
	}
}
